@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Mesaj Listeleme unsalgel.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="be-comment-block">
            <h1 class="comments-title">Yorumlar</h1>
            <div class="be-comment" id="listcom" >
                <!--Yorumlar burda listelenecek-->
            </div>
           
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-user"></i></div>
                            <input class="form-input" id="Name" type="text" placeholder="İsim Soyisim">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 fl_icon">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-envelope-o"></i></div>
                            <input class="form-input" id="Mail" type="text" placeholder="Mail">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-input" id="MessageContent" required="" placeholder="içerik"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input class="form-input" hidden id="Date" value="@DateTime.Now" required="" placeholder="içerik">
                        </div>
                    </div>
                    <button id="btnadd" class="btn btn-primary pull-right">Gönder</button>
                    @*	<a class="btn btn-primary pull-right">submit</a>*@
                </div>
        </div>
    </div>

    <style type="text/css">
        body {
            margin-top: 20px;
            background-color: #e9ebee;
        }

        .be-comment-block {
            margin-bottom: 50px !important;
            border: 1px solid #edeff2;
            border-radius: 2px;
            padding: 50px 70px;
            border: 1px solid #ffffff;
        }

        .comments-title {
            font-size: 16px;
            color: #262626;
            margin-bottom: 15px;
            font-family: 'Conv_helveticaneuecyr-bold';
        }

        .be-img-comment {
            width: 60px;
            height: 60px;
            float: left;
            margin-bottom: 15px;
        }

        .be-ava-comment {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .be-comment-content {
            margin-left: 80px;
        }

            .be-comment-content span {
                display: inline-block;
                width: 49%;
                margin-bottom: 15px;
            }

        .be-comment-name {
            font-size: 13px;
            font-family: 'Conv_helveticaneuecyr-bold';
        }

        .be-comment-content a {
            color: #383b43;
        }

        .be-comment-content span {
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }

        .be-comment-time {
            text-align: right;
        }

        .be-comment-time {
            font-size: 11px;
            color: #b4b7c1;
        }

        .be-comment-text {
            font-size: 13px;
            line-height: 18px;
            color: #7a8192;
            display: block;
            background: #f6f6f7;
            border: 1px solid #edeff2;
            padding: 15px 20px 20px 20px;
        }

        .form-group.fl_icon .icon {
            position: absolute;
            top: 1px;
            left: 16px;
            width: 48px;
            height: 48px;
            background: #f6f6f7;
            color: #b5b8c2;
            text-align: center;
            line-height: 50px;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-bottom-left-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-bottomleft: 2px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .form-group .form-input {
            font-size: 13px;
            line-height: 50px;
            font-weight: 400;
            color: #b4b7c1;
            width: 100%;
            height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid #edeff2;
            border-radius: 3px;
        }

        .form-group.fl_icon .form-input {
            padding-left: 70px;
        }

        .form-group textarea.form-input {
            height: 150px;
        }
    </style>

    <script type="text/javascript">
        //Yorum Listeleme
        $(document).ready(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Message/GetList/",
                success: function (funk) {
                    let values = jQuery.parseJSON(funk);
                    let htmlst = ``;
                    $.each(values, (index, value) => {
                        htmlst += `<div class="be-img-comment"> <a href="blog-detail-2.html"> <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment"> </a> </div> <div class="be-comment-content"> <span class="be-comment-name"> <a href="blog-detail-2.html">${value.Name}</a> </span> <span class="be-comment-time"> <i class="fa fa-clock-o"></i> ${value.Date} </span> <p class="be-comment-text"> ${value.MessageContent} </p> </div>`;
                    });

                    $("#listcom").html(htmlst);
                }
            });
        });


     // Yorum Gönderme
        $("#btnadd").click(function () {
            let values = {
                Name: $("#Name").val(),
                MessageContent: $("#MessageContent").val(),
                Mail: $("#Mail").val(),
                Date: $("#Date").val()
            };
            $.ajax({
                type: "Post",
                url: "/Message/MessageAdd/",
                data: values,
                success: function (fnk1) {
                    let valueat = jQuery.parseJSON(fnk1);
                    let htmlstr = ``;
                    // console.log(fnk1);
                    htmlstr = `<div class="be-img-comment"> <a href="blog-detail-2.html"> <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment"> </a> </div> <div class="be-comment-content"> <span class="be-comment-name"> <a href="blog-detail-2.html">${valueat.Name}</a> </span> <span class="be-comment-time"> <i class="fa fa-clock-o"></i> ${valueat.Date} </span> <p class="be-comment-text"> ${valueat.MessageContent} </p> </div>`;
                    $("#listcom").append(htmlstr);
                     
                }
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>